@font-face {
    font-family: 'Montserrat-light';
    src: url(./montserrat/static/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url(./montserrat/static/Montserrat-Bold.ttf);
}

body {
    background: #545353;
    margin: 0;
}

#tela-geral {
    position: relative;
    display: flex;
    margin-bottom: 10vh;
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 7px 20px rgba(0, 0, 0, 0.5);
    border-radius: 25px 25px 25px 25px;
}

#boas-vindas {
    position: relative;
    width: 25vw;
    height: 80vh;
    background: #0DFF5E;
    border-radius: 25px 0px 0px 25px;
}

#texto-boas-vindas {
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;    
    line-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 20vw;
    height: 80vh;
    margin-left: 2vw;
}

#principal {
    position: relative;
    width: 55vw;
    height: 80vh;
    background: #262626;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#aviso_deletar{
    display: none;
    height: 40vh;
    width: 35vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: #3D3D3D;
    border-radius: 20px;

    
}
#aviso_deletar img{
    width: 6vw;
}

#aviso_deletar p{
    width: 30vw;
    top: -15px;
    text-align: center;
    font-family: 'Montserrat-bold';
    color: #FFFFFF;
}

#aviso_deletar #alerta_botoes{
    display: flex;
    width: 15vw;
    justify-content: space-between;
}

#alerta_botoes #voltar{
    text-align: center;
    height: 4vh;
    width: 10vh;
    border-radius: 7px;
    border: 0px;
    font-family: 'Montserrat-bold';
    font-weight: 900;
    background-color: #151515;
    color: rgba(13, 255, 94, 1);
}
#alerta_botoes #deletar{
    text-align: center;
    height: 4vh;
    width:10vh;
    border-radius: 7px;
    border: 0px;
    font-family: 'Montserrat-bold';
    font-weight: 900;
    background-color: #151515;
    color: rgba(255, 13, 13, 1);
}
#back{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
}

#novoCadastro h3{
    margin-top: 2vh;
    margin-bottom: 3vh;
    margin-right: 24vw;
    color: #0057FF;
    width: 12vw;
    height: 2vh;
    font-family: 'Montserrat-light';
    font-weight: 600;
    font-size: 2vh;
}

.opcoes {
    outline:0;
    box-shadow:none;
    border:0!important;
    background-color: #1D1C1C;
    height: 10vh;
    width: 20vw;
    margin-top: 8vh;
    padding-left: 1vw;
    border-radius: 5vw;
    align-items: center;
    display: flex;
    border: none;
    font-family: 'Montserrat-light';
    font-weight: 500;
    color: #0DFF5E;
    margin-bottom: 5vh;
    
}

.opcoes select {
    -webkit-background-clip:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline: 0;
}

#registro {
    position: relative;
    background-color: #545353;
    width: 35vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    border-radius: 2vw;
    font-weight: 600;
    margin-bottom: 3vh;
    margin-right: 2vw;
}
#imagens {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 27vw;
    margin-top: 3vw;
}

#imagens #edit {

    height: 4vh;
    margin-left: 2vw;
    position: relative;
}

#imagens #delete {
    height: 4vh;
}

.professor {
    font-family: 'Montserrat-bold';
    font-size: 1.5vw;
    margin-left: 3vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}


#container-registros{
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}
